/* Body */
body {
    background-color: #f4f4f9; /* Fondo suave y claro */
    color: #333333; /* Texto oscuro pero no excesivo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
}



/* Encabezado */
header {
    background-color: #006BB6; /* Azul suave pero visible */
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2 {
    margin: 0;
    font-weight: 600;
}

/* Formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
    box-sizing: border-box; /* Asegura que el padding y border no afecten el tamaño total */
}

/* Estilo de inputs y botones */
input[type="text"], input[type="email"], button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    box-sizing: border-box; /* Asegura que el padding y border no afecten el tamaño del input */
}

/* Estilo de botones */
button {
    background-color: #005A8D; /* Azul oscuro con buen contraste */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004C8C; /* Azul más oscuro para hover */
}

button:focus {
    outline: none;
    border-color: #004C8C;
}

/* Enlaces */
a {
    color: #005A8D; /* Azul con buen contraste */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 3px solid #FFD700; /* Foco visible para accesibilidad */
}

 /* Contenedor principal */
 main {
    display: flex;
    justify-content: center; /* Centra las imágenes */
    gap: 20px; /* Espacio entre las imágenes */
    margin-top: 20px;
}

/* Estilo de las imágenes */
main img {
    width: 48%; /* Las imágenes ocupan el 48% del ancho del contenedor */
    height: auto; /* Mantiene la proporción original */
    border-radius: 8px; /* Bordes redondeados */
}

/* Tabla */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

/* Asegura que todos los elementos sean accesibles */
input[type="text"]:focus, input[type="email"]:focus, button:focus, a:focus {
    outline: 3px solid #FFD700; /* Foco claro */
}
